@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model DigiClassroom.ViewModels.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Classroom" asp-action="Create">Create classroom</a>
</div>
@if (SignInManager.IsSignedIn(User))
{
<div class="row">
    <div class="col-sm-9">
        <partial name="_ClassesPartial" />
    </div>
    <div class="col-sm-3 light-grey-box">
        <partial name="_NotificationsPartial" />
    </div>
</div>
}